<% include header %>

	<form id="addBooksForm" method="get" action="addbook">
		<div class="row">
			<div class="large-12 columns">
				<label>Select Type</label>
				<select id="read" name="read">
					<option value=true>Add book you have read</option>
					<option value=false>Add book you wish to read</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="large-6 medium-6 columns">
				<label for ='title'>Title:
				<input type="text" id='title' name='title' placeholder="Book title goes here" />
					</label>
			</div>
			<div class="large-6 medium-6 columns">
				<label for='author'>Author:
				<input type="text" id='author' name='author' placeholder="Authors name goes here" />
					</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 medium-6 columns">
				<input type="radio" name="fiction" value=true id="fictionYes">
				<label for="fictionYes">Fiction</label>
				<input type="radio" name="fiction" value=false id="fictionNo">
				<label for="fictionNo">Non-fiction</label>
			</div>
		</div>
		<div class="row" id="genreContainer">
			<div class="large-12 columns">
				<label>Select Genre</label>
				<select id="genre" name='genre'>
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="large-3 columns">
				<label>Year</label>
				<select id="year" name='year'>
					<% for(var i=0; i < 100; i++){ %>
					<option value=<%= new Date().getFullYear()-i %>><%= new Date().getFullYear()-i %></option>
					<% } %>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input class="button expand large-12" type="submit" value="Add Book" />
			</div>
		</div>
	</form>

	<% if(book !== null){ %>
<p>
	Added Book:- <%= book.title %>
</p>
		<div class="row">
			<div id="addBookActionMsg" class="large-12 columns">
				
				<% if(!(book instanceof Error)){ %>
					<h4 class="success large-6 button expand centered">Added <%= book.title %> successfully</h4>
				<% } else{ %>

				<% } %>
			</div>
		</div>
	<% } %>


</body>

</html>