<% include header %>
	
	<form>
          
          <div class="row">
            <div class="large-6 medium-6 columns">
              <label>Enter your name:</label>
              <input type="text" placeholder="Enter you name" />
            </div>
            <div class="large-6 medium-6 columns">
              <label>Enter youe email:</label>
              <input type="text" placeholder="Enter you email address" />
            </div>
          </div>
          <div class="row">
			<div class="large-6 medium-6 columns">
				<a href="menu" class="button wide500">Simple Button</a>
            </div>  
		  </div>
        </form>
	
	
</body>
</html>
