<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bookworm - Welcome</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/foundation.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/foundation.js"></script>
	<script src="/js/what-input.js"></script>
</head>
<body>
	<div class="user-title-container">
		<div class="titlePanel">
			<h1>Bookworm | Add a new user</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="login.ejs" id="logOutBtn">Logout</a>
		</div>
	</div>
	
	<form>
          
          <div class="row">
            <div class="large-6 medium-6 columns">
              <label>Enter your name:</label>
              <input type="text" placeholder="large-4.columns" />
            </div>
            <div class="large-6 medium-6 columns">
              <label>Enter youe email:</label>
              <input type="text" placeholder="large-4.columns" />
            </div>
            <div class="large-4 medium-4 columns">
            </div>
          </div>
          <div class="row">
			<div class="large-6 medium-6 columns">
				<a href="menu" class="button wide500">Simple Button</a>
            </div>  
		  </div>
        </form>
	
	
</body>
</html>
