<% include header %>
		
		<div class="row">
			<div class="large-6 columns">
				<label for="username">Enter you name</label>
				<input type="text" id="username" name="username" placeholder="Enter your name"></input> 
			</div>
			<div class="large-6 columns">
				<label for="password">Enter a password</label>
				<input type="text" id="password" name="password" placeholder="Enter a password"></input> 
			</div>
		</div>
		<div class="row">
			
		</div>

		<div class="row">
			<div class="large-8 large-centered columns">
				<a href="menu" class="button large large-12">Login</a>
			</div>
		</div>
		
		<div class="row">
			<p class="text-center">or</p>
		</div>
		<div class="row">
			<div class="large-8 large-centered columns">
				<a href="adduser" class="button large large-12">Register</a>
			</div>
		</div>
			
</div>
</body>
</html>
