<% include header %>
	<div class="row">
		<div class="large-8 large-centered columns">
			<a class="button large large-12" id="addBooksBtn" href="addbooks">Add Books</a>
		</div>
	</div>
	<div class="row">
		<div class="large-8 large-centered columns">
			<a class="button large large-12" id="viewBooksBtn" href="viewbooks">View Books</a>
		</div>
	</div>


	</body>

	</html>