<% include header %>
	<div class="buttons-container">
<!--			<a class="actionButtons" id="addUserBtn" href="adduser">Add User</a>-->
			<a class="actionButtons" id="addBooksBtn" href="addbooks">Add Books</a>
			<a class="actionButtons" id="viewBooksBtn" href="viewbooks">View Books</a>
	</div>
	
</body>
</html>
