<% include header %>

	<form id="viewBooksForm" method="get" action="findbooks">
		<div class="row">
			<div class="large-6 large-centered columns">
				<input type="radio" name="wishlist" value=false id="wishlistNo" checked="checked">
				<label for="wishlistNo">Read already</label>
				<input type="radio" name="wishlist" value=true id="wishlistYes">
				<label for="wishlistYes">Wanna read</label>
			</div>
		</div>
		
		<div class="row">
			<div class="large-6 large-centered columns">
				<input type="radio" name="fiction" value=1 id="fictionYes">
				<label for="fictionYes">Fiction</label>
				<input type="radio" name="fiction" value=2 id="fictionNo">
				<label for="fictionNo">Non-fiction</label>
				<input type="radio" name="fiction" value=3 id="fictionAll" checked="checked">
				<label for="fictionAll">All</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered columns">
				<label>Select Genre</label>
				<select id="genre" name='genre'>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered columns">
				<label>Year</label>
				<select id="year" name='year' placeholder="Please Select">
					<option value="any">Any</option>
					<% for(var i=0; i < 100; i++){ %>
						<option value=<%= new Date().getFullYear()-i %>><%= new Date().getFullYear()-i %></option>
					<% } %>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input class="button expand large-12" type="submit" value="Find Books" />
			</div>
		</div>
		
	</form>
	
	<div id='resultsContainer'>
	
		<% if(booksFound){ %>			
				<p> 
					<%= 'BooksFound = ' + books %>
				</p>
		<% } %>
		
		
		
		
	</div>


</body>

</html>