<% include header %>

	<form id="viewBooksForm" method="get" action="findbooks">
		<div class="row">
			<div class="large-6 large-centered columns">
				<input type="radio" name="read" value=true id="wishlistNo" checked="checked">
				<label for="wishlistNo">Read already</label>
				<input type="radio" name="read" value=false id="wishlistYes">
				<label for="wishlistYes">Wanna read</label>
			</div>
		</div>
		
		<div class="row">
			<div class="large-6 large-centered columns">
				<input type="radio" name="fiction" value=true id="fictionYes">
				<label for="fictionYes">Fiction</label>
				<input type="radio" name="fiction" value=false id="fictionNo">
				<label for="fictionNo">Non-fiction</label>
				<input type="radio" name="fiction" value="all" id="fictionAll" checked="checked">
				<label for="fictionAll">All</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered columns">
				<label>Select Genre</label>
				<select id="genre" name='genre' class="add-any-option">
				</select>
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-centered columns">
				<label>Year</label>
				<select id="year" name='year' placeholder="Please Select">
					<option value="any">Any</option>
					<% for(var i=0; i < 100; i++){ %>
						<option value=<%= new Date().getFullYear()-i %>><%= new Date().getFullYear()-i %></option>
					<% } %>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input class="button expand large-12" type="submit" value="Find Books" />
			</div>
		</div>
		
	</form>
	
	<div id='resultsContainer'>
	<p>
		This is start of books:-
		</p>
		<% if(booksFound){ %>
		<p>
			found some books
		</p>
				
				<%for (eachBook in books) { %>
				<p>
					Inside loop <%= eachBook %>
				</p>
								
				<p> 
					<%= 'BooksFound = ' + books[eachBook].title + ' by ' + books[eachBook].author%>
				</p>
					<% } %>
		<% } %>
		
		
		
		
	</div>


</body>

</html>